<%= form_for(@partnermember) do |f| %>
  <% if @partnermember.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partnermember.errors.count, "error") %> prohibited this partnermember from being saved:</h2>

      <ul>
      <% @partnermember.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shimeicode %><br>
    <%= f.text_field :shimeicode %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :partner_id %><br>
	<%= f.collection_select :partner_id, Partner.all, :id, :name %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
