<p id="notice"><%= notice %></p>

<p>
  <strong>Sagyoushiji:</strong>
  <%= @sagyouhoukoku.sagyoushiji_id %>
</p>

<p>
  <strong>Sagyoukakunin:</strong>
  <%= @sagyouhoukoku.sagyoukakunin_id %>
</p>

<p>
  <strong>Atena:</strong>
  <%= @sagyouhoukoku.atena %>
</p>

<p>
  <strong>Sashidashi:</strong>
  <%= @sagyouhoukoku.sashidashi %>
</p>

<p>
  <strong>Youinjisseki:</strong>
  <%= @sagyouhoukoku.youinjisseki_id %>
</p>

<p>
  <strong>Jisshinaiyou:</strong>
  <%= @sagyouhoukoku.jisshinaiyou %>
</p>

<p>
  <strong>Sumi:</strong>
  <%= @sagyouhoukoku.sumi %>
</p>

<p>
  <strong>Nengetsu:</strong>
  <%= @sagyouhoukoku.nengetsu %>
</p>

<%= link_to 'Edit', edit_sagyouhoukoku_path(@sagyouhoukoku) %> |
<%= link_to 'Back', sagyouhoukokus_path %>
