<h1>Listing sagyoushijis</h1>

<table>
  <thead>
    <tr>
      <th>Itakuhaken</th>
      <th>Sagyouhoukoku</th>
      <th>Atena</th>
      <th>Sashidashi</th>
      <th>Jisshinaiyou</th>
      <th>Sumi</th>
      <th>Nengetsu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sagyoushijis.each do |sagyoushiji| %>
      <tr>
        <td><%= sagyoushiji.itakuhaken_id %></td>
        <td><%= sagyoushiji.sagyouhoukoku_id %></td>
        <td><%= sagyoushiji.atena %></td>
        <td><%= sagyoushiji.sashidashi %></td>
        <td><%= sagyoushiji.jisshinaiyou %></td>
        <td><%= sagyoushiji.sumi %></td>
        <td><%= sagyoushiji.nengetsu %></td>
        <td><%= link_to 'Show', sagyoushiji %></td>
        <td><%= link_to 'Edit', edit_sagyoushiji_path(sagyoushiji) %></td>
        <td><%= link_to 'Destroy', sagyoushiji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sagyoushiji', new_sagyoushiji_path %>
