<p id="notice"><%= notice %></p>

<p>
  <strong>Itakuhaken:</strong>
  <%= @sagyoushiji.itakuhaken_id %>
</p>

<p>
  <strong>Sagyouhoukoku:</strong>
  <%= @sagyoushiji.sagyouhoukoku_id %>
</p>

<p>
  <strong>Atena:</strong>
  <%= @sagyoushiji.atena %>
</p>

<p>
  <strong>Sashidashi:</strong>
  <%= @sagyoushiji.sashidashi %>
</p>

<p>
  <strong>Jisshinaiyou:</strong>
  <%= @sagyoushiji.jisshinaiyou %>
</p>

<p>
  <strong>Sumi:</strong>
  <%= @sagyoushiji.sumi %>
</p>

<p>
  <strong>Nengetsu:</strong>
  <%= @sagyoushiji.nengetsu %>
</p>

<%= link_to 'Edit', edit_sagyoushiji_path(@sagyoushiji) %> |
<%= link_to 'Back', sagyoushijis_path %>
