<h1>Listing kokyakus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kokyakus.each do |kokyaku| %>
      <tr>
        <td><%= kokyaku.name %></td>
        <td><%= link_to 'Show', kokyaku %></td>
        <td><%= link_to 'Edit', edit_kokyaku_path(kokyaku) %></td>
        <td><%= link_to 'Destroy', kokyaku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kokyaku', new_kokyaku_path %>
