<h1>Listing youinwariates</h1>

<table>
  <thead>
    <tr>
      <th>Itakuhaken</th>
      <th>Partnermember</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @youinwariates.each do |youinwariate| %>
      <tr>
        <td><%= youinwariate.itakuhaken.kessaikenmei %></td>
        <td><%= youinwariate.partnermember.name %></td>
        <td><%= link_to 'Show', youinwariate %></td>
        <td><%= link_to 'Edit', edit_youinwariate_path(youinwariate) %></td>
        <td><%= link_to 'Destroy', youinwariate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Youinwariate', new_youinwariate_path %>
