<%= form_for(@jyucyu) do |f| %>
  <% if @jyucyu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jyucyu.errors.count, "error") %> prohibited this jyucyu from being saved:</h2>

      <ul>
      <% @jyucyu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pjcode %><br>
    <%= f.text_field :pjcode %>
  </div>
  <div class="field">
    <%= f.label :kenmei %><br>
    <%= f.text_field :kenmei %>
  </div>
  <div class="field">
    <%= f.label :busyo_id %><br>
	<%= f.collection_select :busyo_id, Busyo.all, :id, :hyoujiname %>
    
  </div>
  <div class="field">
    <%= f.label :pm %><br>
    <%= f.text_field :pm %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :kokyaku_id %><br>
	<%= f.collection_select :kokyaku_id, Kokyaku.all, :id, :name %>

  </div>
  <div class="field">
    <%= f.label :keiyakusyubetsu %><br>
	<%= f.select :keiyakusyubetsu, {"請負" => "請負", "準委任" => "準委任","派遣"=>"派遣"} %>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
