<h1>Listing youinjissekis</h1>

<table>
  <thead>
    <tr>
      <th>Youinwariate</th>
      <th>Sagyouhoukoku</th>
      <th>Kadouhour</th>
      <th>Kadoumin</th>
      <th>Nengetsu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @youinjissekis.each do |youinjisseki| %>
      <tr>
        <td><%= youinjisseki.youinwariate_id %></td>
        <td><%= youinjisseki.sagyouhoukoku_id %></td>
        <td><%= youinjisseki.kadouhour %></td>
        <td><%= youinjisseki.kadoumin %></td>
        <td><%= youinjisseki.nengetsu %></td>
        <td><%= link_to 'Show', youinjisseki %></td>
        <td><%= link_to 'Edit', edit_youinjisseki_path(youinjisseki) %></td>
        <td><%= link_to 'Destroy', youinjisseki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Youinjisseki', new_youinjisseki_path %>
