<p id="notice"><%= notice %></p>

<p>
  <strong>Youinwariate:</strong>
  <%= @youinjisseki.youinwariate_id %>
</p>

<p>
  <strong>Sagyouhoukoku:</strong>
  <%= @youinjisseki.sagyouhoukoku_id %>
</p>

<p>
  <strong>Kadouhour:</strong>
  <%= @youinjisseki.kadouhour %>
</p>

<p>
  <strong>Kadoumin:</strong>
  <%= @youinjisseki.kadoumin %>
</p>

<p>
  <strong>Nengetsu:</strong>
  <%= @youinjisseki.nengetsu %>
</p>

<%= link_to 'Edit', edit_youinjisseki_path(@youinjisseki) %> |
<%= link_to 'Back', youinjissekis_path %>
