<p id="notice"><%= notice %></p>

<p>
  <strong>Sagyouhoukoku:</strong>
  <%= @sagyoukakunin.sagyouhoukoku_id %>
</p>

<p>
  <strong>Atena:</strong>
  <%= @sagyoukakunin.atena %>
</p>

<p>
  <strong>Sashidashi:</strong>
  <%= @sagyoukakunin.sashidashi %>
</p>

<p>
  <strong>Sumi:</strong>
  <%= @sagyoukakunin.sumi %>
</p>

<p>
  <strong>Nengetsu:</strong>
  <%= @sagyoukakunin.nengetsu %>
</p>

<%= link_to 'Edit', edit_sagyoukakunin_path(@sagyoukakunin) %> |
<%= link_to 'Back', sagyoukakunins_path %>
